.ENERGY-PARENT {
    width: 100%;
    background: rgba(255, 187, 28, 0.05);
    padding: 20px;
  }
  
  .ONE-ENERGY, .TWO-ENERGY, .THREE-ENERGY, .FIVE-ENERGY, .SIX-ENERGY {
    padding: 20px;
    border: 1px solid rgba(60, 171, 144, 1);
    margin-bottom: 10px;
  }
  
  .iconPhoto {
    padding-bottom: 10px;
    width: 90%;
  }
  
  .ENERGY-PARENT h5 {
    font-weight: 600;
  }
  
  .ENERGY-PARENT img {
    padding-bottom: 10px;
  }
  
  .ENERGY-PARENT h4 {
    font-size: 17px;
    font-weight: 700;
    padding-top: 10px;
    color: rgba(60, 171, 144, 1);
  }
  
  .ENERGY-PARENT h4:hover {
    color: #000;
  }
  
  @media (max-width: 768px) {
    .FOUR-ENERGY {
      display: none;
    }
  
    .ENERGY-PARENT {
      margin-top: -130px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .FOUR-ENERGY {
      display: none;
    }
  
    .ROWOWO {
      margin: 800px;
    }
  }
  