header{
    background-image: url('../IMGS/SOOLAR.svg');
    background-size: cover;
    width: 100%;
    height: 100vh;
    
}
.ROWWOW{
display: flex;
flex-direction: column;

}
.img-up{
margin-top: 60px;

}
.down-head{

margin-top: 110px;

}
.down-head  h3{
    color: #fff;
    font-weight: 700;
    font-size: 34px;
    padding: 5px;

}
.down-head h5{
color: #fff;
font-weight: 25px;
font-weight: 500;
margin: 5px;
letter-spacing: 1px;
margin-top: 20px;
}
.buttons{
    margin-top: 30px;
display: flex;
flex-direction: row;
gap: 30px;


}
.buttons .Call{
    background: rgba(60, 171, 144, 1);
    border-radius: 6px;
    border: none;
    outline: none;
padding: 5px;
color: #fff;
font-weight: 500;

}
.buttons .back{
    background: rgba(255, 187, 28, 1);
    border-radius: 6px;
    border: none;
    outline: none;
    padding: 5px;
    font-weight: 500;


}
@media (max-width: 768px) {
    header{
        background-image: url('../IMGS/SOOLAR.svg');
        background-size: cover;
        width: 100%;
        height: 95vh;
        
    }
    .down-head{
margin-top: 200px;

    }
    .ROWWOW{
        padding: 10px;
        padding-top: 10px;
    }
   



  }