.Repair-ground {
    background-image: url('../IMGS/DEPARTMENT.svg');
    height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end; /* نضبط العناصر في الأسفل */
    padding-top: 50px; /* نضبط المساحة العلوية */
}

.Botn-Ground {
    background: rgba(0, 0, 0, 0.57);
    width: 100%;
    max-width: 1000px;
    height: 350px;
    padding: 10px;
}

.Botn-Ground h2 {
    color: #fff;
    font-weight: 600;
}

.Botn-Ground p {
    color: #fff;
    margin-top: 10px;
}

.Over {
    padding-top: 40px;
}
